# Combinacions d'herois i encanteris
Aquest NoteBook és dividirà en tres apartats i un final per vuere les combinacions entre ells.

- Herois i encanteris
- Herois i first
- Tot junt

In [3]:
# Importar llibreries necessàries
import pandas as pd
import numpy as np

from Dades_Individuals import *
from Combinacions_herois_i_encanteris import *

In [4]:
DataSet = pd.read_csv("../LOL - Dataset/games.csv")
DataSet_champions = pd.read_json("../LOL - Dataset/champion_info.json")

# Primer mirem quines són totalment identiques
duplicated_rows = DataSet[DataSet.duplicated(keep=False)]
num_duplicated_rows = len(duplicated_rows)

# Si n'hi ha, les eliminem
DataSet_cleaned = DataSet.drop_duplicates()
DataSet_cleaned

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51485,3308904636,1503076540231,1944,9,2,1,2,2,0,2,...,10,2,0,4,0,55,-1,90,238,157
51486,3215685759,1496957179355,3304,9,2,1,1,2,2,2,...,11,7,4,4,1,157,55,119,154,105
51487,3322765040,1504029863961,2156,9,2,2,2,2,0,1,...,10,2,0,2,0,113,122,53,11,157
51488,3256675373,1499562036246,1475,9,2,2,2,2,0,2,...,11,3,0,1,0,154,39,51,90,114
51489,3317333020,1503612754059,1445,9,1,1,1,1,1,2,...,1,0,0,1,0,11,157,141,31,18

Per poder visualitzar de manera més clara totes les columne que necessitem podem eliminar aquelles que, en aquest moment, no anem a utilitzar.

In [5]:
columnes_a_eliminar = [
    'creationTime', 'gameDuration', 'seasonId'
]

DataSet_herois = DataSet_cleaned.drop(columnes_a_eliminar, axis=1)
print(f"Columnes eliminades correctament")
print(f"Columnes restants: {list(DataSet_herois.columns)}")
print(f"Dimensions del dataset: {DataSet_herois.shape}")
DataSet_herois.head(5)

Columnes eliminades correctament
Columnes restants: ['gameId', 'winner', 'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron', 'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1', 't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2', 't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id', 't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1', 't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills', 't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3', 't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2', 't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id', 't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1', 't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2', 't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills', 't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4', 't2_ban5']
Dimensions del dataset: (51053, 58)

,gameId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,t1_champ1id,t1_champ1_sum1,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1,2,1,1,1,1,2,8,12,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1,1,1,1,0,1,1,119,7,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1,2,1,1,1,2,0,18,4,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1,1,1,1,1,1,0,57,4,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1,2,1,1,1,1,0,19,4,...,3,0,0,1,0,86,11,201,122,18

## Herois
Comencem utilitzant la funció **comptar_combinacions_equip**, la qual ens ajuda a codificar les diferents combinacions d'herois per equip, d'aquesta manera és molt més facil jugar amb les dades. També de la funció **comptar_combinacions_encanteris** pels encanteris utilitzats pels herois.

In [6]:
# Retorna un diccionari per poder descodificar les combinacions d'equips
combinacions_equip = comptar_combinacions_equip(DataSet_cleaned)

# Creem un nou DataFrame amb els index de les combinacions d'equips 1 i 2 
combinacions_equip_list = list(combinacions_equip.keys())
combinacions_equips_df = pd.DataFrame(combinacions_equip_list, columns=['champ1_id', 'champ2_id', 'champ3_id', 'champ4_id', 'champ5_id'])
combinacions_equips_df

        champ1_id  champ2_id  champ3_id  champ4_id  champ5_id
0             104        122        238        412        498
1               8         11         96        112        432
2              10         35         39         76        119
3              25         54         92        120        157
4              22         24         69        126        412
...           ...        ...        ...        ...        ...
101444          1         33         43         99        119
101445         11         21         25         30         56
101446         99        121        201        236        420
101447          1         89        113        164        202
101448         17         29         58         63        121

[101449 rows x 5 columns]

In [10]:
# Executar la funció amb mode verbose per veure què detecta
combinacions_encanteris = comptar_combinacions_encanteris(DataSet_cleaned, verbose=True)

combinacions_encanteris_list = list(combinacions_encanteris.keys())
combinacions_encanteris_df = pd.DataFrame(combinacions_encanteris_list, columns=['sum1', 'sum2'])
combinacions_encanteris_df.head(5)

Detectades 10 campeons amb encanteris.
  t1, campeó 1: {'1': 't1_champ1_sum1', '2': 't1_champ1_sum2'}
  t1, campeó 2: {'1': 't1_champ2_sum1', '2': 't1_champ2_sum2'}
  t1, campeó 3: {'1': 't1_champ3_sum1', '2': 't1_champ3_sum2'}
  t1, campeó 4: {'1': 't1_champ4_sum1', '2': 't1_champ4_sum2'}
  t1, campeó 5: {'1': 't1_champ5_sum1', '2': 't1_champ5_sum2'}
Total de combinacions úniques trobades: 36
Total de combinacions úniques trobades: 36

   sum1  sum2
0     3     4
1     6    11
2     4     6
3     4    12
4     4    14

C:\Users\laiao\AppData\Local\Temp\ipykernel_34684\2132688754.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DataSet_cleaned['team1_comb_index'] = keys1.map(_key_to_index).astype('Int64')
C:\Users\laiao\AppData\Local\Temp\ipykernel_34684\2132688754.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DataSet_cleaned['team2_comb_index'] = keys2.map(_key_to_index).astype('Int64')

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5,team1_comb_index,team2_comb_index
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,0,1,1,114,67,43,16,51,1,0
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,0,0,0,11,67,238,51,420,2,3
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,0,1,0,157,238,121,57,28,5,4
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,164,18,141,40,51,7,6
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,0,1,0,86,11,201,122,18,9,8
5,3287435705,1501667992132,2059,9,1,2,2,1,1,2,...,0,3,0,119,134,154,63,31,10,11
6,3314215542,1503430065724,1993,9,1,1,2,1,1,1,...,0,0,0,75,42,31,40,429,12,13
7,3329224025,1504472363684,1334,9,1,1,1,0,0,2,...,0,2,0,157,38,122,40,238,14,15
8,3318040883,1503686577549,1387,9,2,2,2,2,0,2,...,0,2,1,28,51,53,157,40,17,16
9,3327786881,1504385918871,2681,9,2,2,2,2,2,2,...,1,2,0,64,141,84,67,53,18,19

Ara també podem eliminar els id que formen part dels campions de cadascun dels equips, ja que tenim les columnes **team1_comb_index	team2_comb_index** per poder identificar-los en **combinacions_df**.

In [ ]:
columnes_a_eliminar = [
    't1_champ1id', 'gameDuration', 'seasonId'
]

DataSet_herois = DataSet_cleaned.drop(columnes_a_eliminar, axis=1)
print(f"Columnes eliminades correctament")
print(f"Columnes restants: {list(DataSet_herois.columns)}")
print(f"Dimensions del dataset: {DataSet_herois.shape}")
DataSet_herois.head(10)